@import "tailwindcss";

:root {
  --gold: #C9A84C;
  --gold-light: #E8D199;
  --gold-dark: #8A6B1A;
  --crimson: #8B1A1A;
  --crimson-light: #C0392B;
  --cream: #FAF6EF;
  --ink: #1A1209;
  --ink-mid: #3D2E12;
  --warm-gray: #8C7B6B;
  --border: rgba(201,168,76,0.25);
  --section-pad: 90px 60px;
}

html {scroll-behavior: smooth;}

@theme {
  --animate-bounceX: bounce 3s infinite;
  @keyframes bounceX { 
    0%, 100%{
      transform:translateX(-50%) translateY(0)
    } 
    50%{
      transform:translateX(-50%) translateY(6px)
    } 
  }
}

